<h1>users</h1>

<table>
  <tr>
    <th>անուն</th>
    <th>email</th>
    <th>.</th>
    <th>.</th>
    <th>.</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'детали', user %></td>
    <td><%= link_to 'ред', edit_user_path(user) %></td>
    <td><%= link_to 'удалить', user, :confirm => "удалить #{user.name}, #{user.id}/#{user.created_at}?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'новый', new_user_path %>
